$bg_color: #1e1d19;
$text_color: #d6cb99;
$link_color: #ff9323;
$border_color: lighten($bg_color, 20%);
$btn_color: lighten($bg_color, 10%);

/**--- Main Styles ----*/
.interface-interface-skeleton__header,
.interface-interface-skeleton__body > div:not(.interface-interface-skeleton__content) {
  :not(.wp-dark-mode-ignore):not(mark):not(code):not(pre):not(ins):not(option):not(input):not(select):not(textarea):not(button):not(a):not(video):not(canvas):not(progress):not(iframe):not(svg):not(path):not(.mejs-iframe-overlay):not(.mejs-time-slider):not(.mejs-overlay-play):not(.block-editor-default-block-appender__content) {
    background-color: $bg_color !important;
    color: $text_color !important;
    border-color: $border_color !important;
  }
}

/**--- Link Styles ----*/
.interface-interface-skeleton__header,
.interface-interface-skeleton__body > div:not(.interface-interface-skeleton__content) {
  a:not(.wp-dark-mode-ignore),
  a *:not(.wp-dark-mode-ignore) {
    background-color: transparent !important;
    color: $link_color !important;
  }
}


/**--- Link Pseoudo Styles ----*/
.interface-interface-skeleton__header,
.interface-interface-skeleton__body > div:not(.interface-interface-skeleton__content) {
  a:active,
  a:active *,
  a:visited,
  a:visited * {
    color: $link_color !important;
    border-color: $border_color !important;
  }
}

/**--- Input Styles ----*/
.interface-interface-skeleton__header,
.interface-interface-skeleton__body > div:not(.interface-interface-skeleton__content) {
  button:not(#collapse-button),
  iframe,
  iframe *,
  input,
  input[type="button"],
  input[type="checkebox"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="image"],
  input[type="month"],
  input[type="number"],
  input[type="range"],
  input[type="reset"],
  input[type="search"],
  input[type="submit"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea:not(.block-editor-default-block-appender__content):not(.editor-post-title__input),
  i:not(.wp-dark-mode-ignore) {
    background-color: $btn_color !important;
    color: $text_color !important;
    border-color: $border_color !important;

    * {
      background: transparent !important;
    }

  }
}

/** Editor Area **/
.interface-interface-skeleton__content, .edit-post-visual-editor{
  background: $bg_color;
  color: $text_color;
}

.editor-post-title {
  color: $text_color;
}