html.wp-dark-mode-active {
  body:not(.overlay-header) #site-header .toggle {
    color: var(--wp-dark-mode-text);
  }

  .woocommerce-product-gallery .woocommerce-product-gallery__trigger .emoji {
    background: transparent !important;
  }
}