/*-------------- admin bar switcher --------------*/
#wp-admin-bar-wp-dark-mode .ab-item{
  display: flex !important;
  align-items: center;
}

#wp-admin-bar-wp-dark-mode .wp-dark-mode-switcher .modes {
  margin-top: -1px;
}

#wp-admin-bar-wp-dark-mode .wp-dark-mode-switcher .modes .light {
  color: #000;
}

#wp-admin-bar-wp-dark-mode .wp-dark-mode-switcher label {
  position: relative !important;
  width: 100px !important;
}

#wp-admin-bar-wp-dark-mode .wp-dark-mode-switcher label,
#wp-admin-bar-wp-dark-mode .wp-dark-mode-switcher .toggle {
  height: 26px !important;
  border-radius: 100px !important;
}

#wp-admin-bar-wp-dark-mode .wp-dark-mode-switcher .toggle {
  position: absolute !important;
  width: 50% !important;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .15) !important;
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
}

#wp-admin-bar-wp-dark-mode .wp-dark-mode-switcher .modes {
  width: 74% !important;
  position: absolute !important;
}

.wp-dark-mode-switcher .modes .dark {
  color: #555;
}

/**--- dark mode ---*/

html.wp-dark-mode-active #wpcontent {
  background: #10161E !important;
}

html.wp-dark-mode-active #wpcontent #wpbody .delete,
html.wp-dark-mode-active #wpcontent #wpbody .submitdelete {
  color: red !important;
}

html.wp-dark-mode-active #wpcontent #wpbody .notice, html.wp-dark-mode-active #wpcontent #wpbody .notice * {
  background: #252525 !important;
}

html.wp-dark-mode-active #wpcontent #wpbody #screen-meta * {
  background: #32373c !important;
}

/**-- RankMath --*/
html.wp-dark-mode-active {
  .rank-math-page {
    .rank-math-ui {
      &:before {
        background: #10161E;

      }
    }
    #wpfooter{
      background: #10161E;
    }
  }
}