@import "admin_darkmode";

/** Settings */
tr.gutenberg_doc, tr.elementor_doc, tr.image_settings, tr.shortcodes_doc, tr.widget_doc {
  h2 {
    font-weight: bold;
  }

  th {
    display: none;
  }

}

#wp_dark_mode_shortcodes {
  .submit {
    display: none;
  }
}


.doc-section {
  list-style: disc;

  img {
    max-width: 100%;
    border: 1px solid #ddd;
  }

  h3{
    font-weight: 300;
  }

}

.promo {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .6);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  backdrop-filter: blur(1px);

  &.hidden {
    display: none;
  }

  &-inner {
    background: #32373C;
    position: relative;
    padding: 60px 30px 40px 30px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid;

    .close-promo {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 12px;
      font-size: 30px;
      color: #fff;
      display: flex;
      align-items: center;
      border-radius: 50%;
      justify-content: center;
      cursor: pointer;
    }

    h3 {
      color: #fff;
    }

    .promo-img {
      height: 100px;
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      background: #fff;
      padding: 10px;
      border-radius: 50%;
      border: 1px solid #eee;
    }

    .limited-title {
      font-size: 24px;
    }

    .discount {
      font-size: 24px;

      .percentage {
        color: #F03B34;
        font-size: 40px;
        font-weight: bold;
      }

    }

    a {
      background: #FBBF00;
      color: #000;
      padding: 16px 25px;
      text-decoration: none;
      border-radius: 5px;
      display: inline-block;
      margin-top: 30px;
      font-size: 17px;
      font-weight: bold;
      border: 1px solid;
    }

  }

}

/** settings page **/
#wp_dark_mode_start-tab {
  background: yellowgreen;
  color: #fff;

  i {
    color: #fff;
  }
}

#wp_dark_mode_start {
  .submit {
    display: none;
  }

  .form-table {
    td {
      padding: 0;
    }
  }
}

.wppool-settings tr.getting_started {
  th {
    display: none;
  }

  .getting-started-section {
    margin-bottom: 50px;
    padding: 10px;

    h2 {
      font-weight: bold;
    }

    .wp-video, iframe {
      max-width: 640px !important;
      max-height: 360px !important;
      overflow: hidden;
    }

    p {
      margin-bottom: 15px;
    }

  }

}

#wp_dark_mode_license {
  .form-table {
    margin-top: -30px;

    td {
      padding: 0;
    }
  }
}

.wppool-settings tr.license {
  p {
    margin-bottom: 10px;
  }

  h1 {
    display: none;
  }

  th {
    display: none;
  }

  .appsero-license-settings {
    border: 1px solid #ddd;
  }
}

.license-activation-notice {
  display: flex;
  align-items: center;

  .wp-dark-mode-notice-icon {
    margin-right: 10px;
    img {
      max-width: 45px;
    }
  }

  .wp-dark-mode-notice-actions{
    justify-self: flex-end;
    margin-left: auto;
  }

}

/* Image Settings Table */
.image-settings-table {
  width: 100%;

  tr {
    &:first-child {
      td {
        padding: 0 10px;
        font-weight: bold;

        &:last-child {
          width: 140px;
        }
      }
    }

    &:nth-child(2) {
      .remove_row {
        display: none;
      }
    }

  }

  td {
    input {
      width: 100%;
    }

  }
}

.wppool-settings .color_preset {

  fieldset {
    max-width: 600px;
    & > label {
      margin: 5px !important;
    }
  }

  .image-choose-opt {
    display: inline-flex;

    img {
      border-radius: 50%;
      margin: 0;
      max-width: 85px;
    }
  }
}

.wppool-settings .custom_css {

  & > th {
    display: none;
  }

  .CodeMirror {
    border: 1px solid #ddd;
  }
}

#wp_dark_mode_custom_css .promo{
  z-index: 9;
}

.wppool-settings .widget_doc {
  p {
    font-size: 16px;
  }

  img {
    border-radius: 10px;
    border: 1px solid #ddd;
  }
}

#wp_dark_mode_widget_doc {
  .submit {
    display: none;
  }
}

/** exclude pages */
.exclude_pages .select2-container {
  width: 350px !important;
}

.wppool-settings {
  .CodeMirror-sizer{
    margin-left: 22px !important;
  }

  .CodeMirror-linenumbers {
    width: 21px !important;
  }
}

/**--- Disabled --**/
.wppool-settings {
  .image-choose-opt {
    position: relative;

    &.disabled {
      .disabled-text {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(#555, .7);
        color: #fff;
      }
    }
  }

  .form-table tr.disabled {
    opacity: .6;

    input, select, textarea {
      pointer-events: none;
    }
  }

  .switch_style {
    .image-choose-opt {
      .disabled-text {
        width: 90%;
        height: 95%;
        left: 5px;
        border-radius: 10px;
      }
    }
  }

  .color_preset {
    .image-choose-opt {
      .disabled-text {
        border-radius: 100px;
      }
    }
  }

}

.widget {
  .switch-style-choose-group {
    border-radius: 5px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}