@import "./css/darkmode";

.wpdm-theme-switch {
  border-radius: 100%;
  display: block;
  height: 22px;
  width: 22px;
  margin-right: 5px;
  cursor: pointer;

  &-wrapper {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;

    #wpDarkModeThemeSwitch {
      display: flex;
      align-items: center;
    }
  }

  &__default {
    background-image: linear-gradient(130deg, #fff 48.75%, #000 50%);
  }


  &__darkmode {
    background-image: linear-gradient(130deg, #10161E 48.75%, #fff 50%);
  }

  &__chathams {
    background-image: linear-gradient(130deg, rgb(237, 235, 232) 48.75%, rgb(16, 93, 114) 50%);
  }

  &__pumpkin {
    background-image: linear-gradient(130deg, rgb(30, 29, 25) 48.75%, rgb(255, 147, 35) 50%);
  }

  &__mustard {
    background-image: linear-gradient(130deg, rgb(21, 24, 25) 48.75%, rgb(218, 164, 11) 50%);
  }

  &__concord {
    background-image: linear-gradient(130deg, rgb(23, 23, 23) 48.75%, rgb(247, 118, 240) 50%);
  }

}

#wpdmColorPalettesContainer {
  position: absolute;
  top: 50px;
  width: 170px;
  background: #555;
  left: -25px;

  .wpdm-color-palettes-wrapper {
    padding: 10px;

    a {
      display: flex;
      margin-bottom: 10px;
      text-decoration: none;
      color: #eee;
      align-items: center;

      &:focus {
        border: none;
      }

      .tick {
        margin-left: auto;
      }

    }
  }

}

.wpdm-arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-top: -3px;

  &.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}